{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "parser": "typescript",
    "jsxSingleQuote": true
}